@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #eee;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.add-notes , .add {
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}